body {
    background: #fff;
    color: #191d24;
    margin: 0;
    padding: 0;
}

a {
    color: #191d24;
    text-decoration: none;
}

.fadein {
    opacity: 0;
    animation: fadein 2s forwards;
}

.home .greeting {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.home .avatar .image {
    height: 100px;
}

.home .hats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home .hat {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 8px;
    width: 140px;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
